ul {
    background-color: lightslategray;
    padding: 20px;
    /* height: 300px; */
    display: flex;
    align-items: flex-start;
}

li {
    list-style: none;
    color: #fff;
    background-color: #20b2aa;
    padding: 10px;
    margin: 10px;
}

li:first-child {
    flex-shrink: 0;
}